services:
  control-plane:
    build:
      context: .
      dockerfile: apps/control-plane/Dockerfile
      # args:
      #   MAIN_PKG: ./cmd/control-plane
    ports:
      - "8080:8080"

  portal:
    build:
      context: .
      dockerfile: apps/portal/Dockerfile
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    depends_on:
      - control-plane
