name: deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Target environment
        required: true
        default: staging
        type: choice
        options: [staging, production]
      image_tag:
        description: Image tag (main / v1.2.3 / sha-...)
        required: true
        default: main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Deploy masih manual. Nanti saat server/K8s siap, kita aktifkan SSH/ArgoCD."
